@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .read-only-wrapper {
  --richtext-background: hsl(var(--default-100));
}

.reactjs-tiptap-editor.reactjs-tiptap-editor .ProseMirror.ProseMirror.ProseMirror {
  padding: 20px;
}

.richtext-outline-1 {
  outline-width: 0px;
}